* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f8eeee;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}

.search {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;
  transition: background 0.25s, box-shadow 0.25s;
  margin-left: auto; /* Push search bar to the right */
  margin-right: 20px; /* Create space from nav items */
}

.search:focus-within {
  background: #e9e9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-icon{
   
    display: inline-block;
    transform: rotate(-45deg);
}
.search-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: var(--padding);
  border: none;
  background-color: transparent;
  flex: 1;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* Adjust Navbar Container */
.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px; /* Override default container padding */
}

.section-navbar .navbar ul {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-left: auto; /* Push nav items to the left */
}
html {
  font-size: 62.5%;
  color: var(--textColor);
  scroll-behavior: smooth;
}

/* have a look into body once after we done with rest of the styling  */
body {
  margin: 0 auto;
  padding: 0 32px;
  min-width: 320px;
  background-color: #f9f9f3;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
}

p,
li,
a,
label {
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: #646cff;
  text-decoration: none;
  &:hover {
    color: hwb(237 33% 5%);
  }
}

::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/*! layout */
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 96px 24px;
}

:is(
    .section-extra-product,
    .section-blog,
    .section-policy,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact,
    footer
  )
  .container:first-child {
  padding: 64px 0 24px 0;
}
/*
.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}
*/



.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.grid-two--cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

.grid-three--cols, .grid-three-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.grid-four--cols, .grid-four-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.grid-two--cols > * {
  flex: 1 1 calc(0% - 16px);
}

.grid-three--cols > *, .grid-three-cols > * {
  flex: 1 1 calc(20% - 16px);
}

.grid-four--cols > *, .grid-four-cols > * {
  flex: 1 1 calc(15% - 16px);
}

.section-hero .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .grid-two--cols > *, .grid-three--cols > *, .grid-three-cols > *,
  .grid-four--cols > *, .grid-four-cols > * {
    flex: 1 1 100%;
  }
}










 /*! module / reusable  */

 .btn {
  display: inline-block;
  padding: 12px 32px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: capitalize;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.section-common--title {
  font-size: 20px;
  margin: 24px 0 12px 0;
}

/* states  */

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
}

.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--para-color);
}

.container1{
padding: 32px;
}

.slider-wrapper{
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
 box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}
.slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
/***** Navbar Section *****/
.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px; /* we override the main container padding property  */
}

.section-navbar img {
  width: 45%;
  
}

.section-navbar .navbar ul {
  display: flex;
  gap: 32px;
  text-transform: capitalize;
  align-items: center;

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0%;
      border-bottom: 1px solid var(--main-color);
      transition: all 0.3s linear;
    }
  }
  & li a:hover {
    color: var(--main-color);
  }

  & li a:hover:after {
    width: 100%;
  }
}

/***** Navbar End Section *****/

/***** Hero Section *****/

main {
  height: 84vh;
  position: relative;
  background-color: #f9f9f3;

  background: linear-gradient(135deg, #1f4037, #99f2c8);
  /* Fallback for older browsers */
  background: -webkit-linear-gradient(135deg, #1f4037, #99f2c8);
  color: #ffffff; /* Adjust text color for contrast */
}

.custom-shape-divider-bottom-1696038172 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696038172 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1696038172 .shape-fill {
  fill: #ffffff;
}

main .section-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
 /*  background-color: var(--supporting-color);  */
}

.section-hero .grid {
  align-items: center;
  gap: 64px;
}

.section-hero {
  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
    word-spacing: 2px;
    color: #003b99;
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 58px;
    line-height: 1.5;
    initial-letter: -2px;
    text-transform: capitalize;
    color: #003b99;
    font-family: "Jost";
  }

  & .hero-para {
    margin: 20px 0 42px 0;
    color: white;
  }
}

.section-hero img {
  width: 100%;
  height: 610px;
  margin-left: auto;
  border-radius: 5px;
  
}


header, footer {
  background: linear-gradient(90deg, #707984, #7092d1);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
/***** End Hero Section *****/

/***** Extra Section *****/
.div-extra {
  padding: 32px 24px;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  /* Fallback for older browsers */
  background: -webkit-linear-gradient(135deg, #1f4037, #99f2c8);
  color: #ffffff; /* Adjust text color for contrast */
  position: relative;
  /* box-shadow: inset 0 0 0 40px #000; */
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
    background-color: var(--borderColor);
    z-index: 1;
  }

  & p {
    text-transform: uppercase;
    font-size: 14px;
    color: #1f36b9;
  }

  & h3 {
    font-size: 24px;
    text-transform: capitalize;
    margin: 6px 0 16px 0;
  }

  & a {
    text-transform: uppercase;
    color: var(--buttonColor);
    border-bottom: 1px solid var(--secondaryColor);
  }

  & .extra-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    & img {
      width: 180px;
      filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
      -webkit-filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
    }
  }

  & img {
    max-width: 100%;
    width: 30%;
    height: auto;
  }

  &:last-child img {
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }

  & .extra-laptop img {
    width: 280px;
    height: auto;
  }
}

.grid-three-cols {
  gap: 64px;

  & :div {
    justify-self: left;
  }
}

.div-extra {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/***** End Extra Div Section *****/

/***** Policy Section *****/

.section-policy {
  & .container {
    padding: 32px 0;
    background-color: #fefefe;
    border-radius: 5px;
    background: linear-gradient(90deg, #707984, #7092d1);
    color: #ffffff;
  }
}

.div-policy {
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-right: 1px solid var(--backgroundColor);

  &:last-child {
    border-right: none;
  }

  & .icons {
    font-size: 32px;
    color: #576ef0;
  }

  p {
    text-transform: capitalize;
  }

  & p:last-child {
    font-size: 14px;
  }
}

/***** End Policy Section *****/


/***** Start Footer Section *****/
footer {
  width: 100%;
  background: linear-gradient(90deg, #707984, #7092d1);
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 64px;
}

.footer-container .content_1 img {
  height: auto;
  width: 150px;
  border-radius: 40%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-container h4 {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 18px;
}

.footer-container a {
  display: block;
  text-decoration: none;
  color: #cccccc;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
  color: #cccccc;
  margin: 25px 0;
  font-size: 14px;
}

.footer-container .content_4 input[type="email"] {
  background-color: var(--textColor);
  border: none;
  color: var(--backgroundColor);
  outline: none;
  padding: 14px 8px;
  width: 100%;
}

.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .content_4 .bx {
  color: var(--white);
}

.f-design {
  width: 100%;
  color: var(--white);
  text-align: center;
}

.f-design .f-design-txt {
  border-top: 1px solid var(--secondaryColor);
  padding: 16px 0;
  color: var(--secondaryColor);
}
/***** End Footer Section *****/


#cartValue {
  background-color: var(--buttonColor);
  color: #fff;
  padding: 10px 20px;
}

.add-to-cart-button,
.contact-btn,
.hero-btn a {
  font-weight: 500;
  font: inherit;
  border-radius: 6px;
  border: 0;
  padding: 10px 28px;
  background-color: var(--buttonColor);
  color: #fff;
  font-size: 16px;
  /* margin-top: 12px; */

  &:hover {
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.16),
      inset 0px 0px 0px 3px rgb(51, 51, 51);
    background-color: var(--backgroundColor);
    color: var(--buttonColor);
    cursor: pointer;
  }

  .fa-cart-shopping {
    padding-right: 10px;
  }
}



